@media (max-width: 855px){
    header{
        padding: 52px 0 0 0;
        flex-direction: column;
    }
    
}
@media (max-width: 530px){
    ul{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 480px) {
    /* section1 */
    .section1 {
        width: 100%;
        height: 956px;
    }
    /* header */
    header{
        width: 100%;
        padding: 0 30px 0px 30px;
        flex-direction: row;
    }
    .header_logo {
        width: 50%;
        height: 76px;
    }
    nav {
        display: none;
    }
    .fa-bars {
        display: block;
    }
    .section1_text {
        margin: 557.96px auto 91px auto;
        font-size: 24px;
    }
    /* section2 */
    .section2 {
        padding: 37px 0 180px 0;
    }
    h1 {
        font-size: 40px;
        margin-bottom: 56px;
    }
    .cards {
        flex-direction: column;
        gap: 128px;
    }
    .card {
        width: 100%;
        height: 416px;
    }

    /* article */
    article {
        padding: 43px 0 88px 0;
    }

    h2 {
        font-size: 40px;
        margin-bottom: 56px;
    }

    .article_div {
        flex-wrap: wrap;
    }
    .article_img {
        width: 100%;
        height: 406px;
    }

    .article_text {
        width: 100%;
        height: 432px;
        padding: 70px 44px 71px 44px;
        font-size: 24px;
    }
    /* footer */
    footer{
        padding: 55px 142px 55px 141px;
        justify-content: center;
    }
    .footer_logo{
        display: none;
      }
    .footer_icons{
      gap: 46px;
      }
      .fa-instagram, .fa-envelope, .fa-facebook{
        font-size: 35px;
      }
}