.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* section1 */
.section1 {
    width: 100%;
    height: 2414px;
    background-image: url(../image/section1.png);
    /* position: absolute; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* header */
header {
    width: 100%;
    padding: 0 34px 0px 147px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .header_logo {
    width: 97px;
    height: 153px;
} */
ul {
    display: flex;
    gap: 58px;
}

li {
    font-size: 36px;
    color: #ffffff;
    border: 5px solid transparent;
    transition: .5s linear;
}

li:hover {
    border: 5px solid #ffffff;
    cursor: pointer;
}

.fa-bars {
    display: none;
    font-size: 59px;
    color: white;
}

.section1_text {
    width: 80%;
    color: #C0B4B4;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin: 1564px auto 304px auto;
}

/* section2 */
.section2 {
    width: 100%;
    padding: 90px 0 140px 0;
    background-color: #393838;
}

h1 {
    font-size: 64px;
    font-weight: 400px;
    color: #FFFFFF;
    margin-bottom: 239px;
    text-align: center;
}
.cards {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.card {
    width: 30%;
    height: 522px;
}
.card img{
    width: 100%;
    height: 100%;
}
/* .card:hover {
    cursor: pointer;
    box-shadow: 40px 40px 30px black;
} */

/* article */
article {
    width: 100%;
    padding: 33px 0 105px 0;
    background-color: #2C2929;
}
h2 {
    font-size: 64px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 106px;
    text-align: center;
}
.article_div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.article_img {
    width: 50%;
    height: 557px;
}
.article_text {
    width: 49%;
    height: 557px;
    padding: 85px 52px;
    background-color: #8e8b8b;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: justify;
}
/* footer */
footer {
    width: 100%;
    padding: 83px 144px 83px 146px;
    background-color: #393838;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_icons {
    display: flex;
    gap: 50px;
}
.fa-envelope,
.fa-instagram,
.fa-facebook {
    font-size: 60px;
    color: #ffffff
}

.fa-envelope:hover {
    cursor: pointer;
    color: orange;
}

.fa-instagram:hover {
    cursor: pointer;
    color: rgb(215, 58, 202)
}

.fa-facebook:hover {
    cursor: pointer;
    color: rgb(39, 39, 177);
}